@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins";
}

.bg-yellow {
  background-color: #b6962f;
}

.bg-navy {
  background-color: #131a27;
}
